* {
    padding: 0;
    margin: 0;
}

main{
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: orange;
    color: wheat;
    padding: 5px;
}

li {
    margin-left: 30px;
}

.caja1 {
    width: 80px;
    height: 80px;
    background-color: dodgerblue;
    border-width: 5px;
    border-color: blue;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}

.caja2 {
    width: 80px;
    height: 80px;
    background-color: greenyellow;
    border-width: 5px;
    border-color: green;
    border-style: solid;
    margin-top: 10px;
    padding: 4px;
    display: inline-block;
    box-sizing: border-box;
}

.caja3 {
    width: 80px;
    height: 80px;
    background-color: aqua;
    border-color:deepskyblue;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
}

/* Se puede llamar a un hijo que está contenido en un padre
menuPrin es el padre de a porque las contiene*/
#menuPrin a {
    padding-left: 10px;
    padding-top: 2px;
}