p {
    color: crimson;
}

h2{
    color: darkblue;
    font-size: small;
    text-align: center;
}

div{
    background-color: bisque;
    color: darkblue;
    text-align: right;
    width: 400px;
}

footer {
    background-color: yellow;
    width: 500px;
    height: 400px;
}

section{
    background-color: aquamarine;
    color: black;
}

nav{
    background-color: violet;
}

#abs{
    background-color: blueviolet;
    width: 700px;
}

#rel{
    background-color: darkmagenta;
    width: 60%;
}

.color{
    color: white;
}